@model HomeViewModel

<style>
    .news-item .news-title{
        font-size: 15px !important;
    }
</style>

<!-- Slider Start -->
<section class="slider-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="slick-slider">
                    @foreach (var item in Model.News.Take(5))
                    {
                        <div class="slider">
                            <img src="~/image/@item.Image" alt="">
                            <div class="slider-text">
                                <a target="_blank" href="/Home/DetailNews/@item.Id">
                                    <h1>
                                        @(item.Name.Length>80?item.Name.Substring(0,80)+"...":item.Name)
                                    </h1>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="head-side">
                    <div class="row">
                        @foreach (var item in Model.News.Skip(5).Take(2))
                        {
                            <div class="col-md-6 col-lg-12">
                                <div class="head-side-news">
                                    <img src="~/image/@(item.Image)" alt="">
                                    <div class="head-side-news-text">
                                        <a target="_blank" href="/Home/DetailNews/@item.Id">
                                            <h1>
                                                @(item.Name.Length>80?item.Name.Substring(0,80)+"...":item.Name)
                                            </h1>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Slider End -->
<!-- News Start -->
<section class="news-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="news newsLoad">
                    <div class="news-head">
                        <h1>Xəbərlər</h1>
                    </div>
                    @{ 
                        var vm = new NewsVM()
                        {
                            newlar = Model.News.OrderByDescending(x => x.Id).Skip(7).Take(10).ToList()
                        };
                    }
                    <partial name="_NewsPartial" model="vm" />
                </div>
                <div class="d-flex justify-content-center">
                        <button id="news-load-more" class="btn btn-primary" style="font-size: 15px; padding: 15px 30px ">DAHA ÇOX</button>
                    </div>
            </div>
            <div class="col-lg-3">
                <div class="side-news">
                    <div class="news-head">
                        <h1>Sponsor</h1>
                    </div>
                    <div class="sponsor">
                        <a href="http://www.tuna.az/">
                            <img src="~/image/WhatsApp Image 2021-05-26 at 15.56.43.jpeg" class="img-fluid" alt="" />
                        </a>
                        @*<p>Burada sizin reklamınız ola bilər!</p>*@
                    </div>
                    <div class="news-head">
                        <h1>Həftənin Xəbərləri</h1>
                    </div>
                    @foreach (var item in Model.News.Skip(17).Take(5))
                    {
                        <div class="news-item">
                            <div class="news-img">
                                <img src="~/image/@(item.Image)" alt="">
                            </div>
                            <div class="news-info">
                                <div class="news-data">
                                    <span>@item.PublishDate.ToString("dd/MM/yyyy")</span>
                                </div>
                                <h1 class="news-title">@(item.Name.Length>80?item.Name.Substring(0,80)+"...":item.Name)</h1>
                                <p class="news-text">
                                    @(item.Content.Length>200?item.Content.Substring(0,200)+"...":item.Content)
                                </p>
                                <a target="_blank" href="/Home/DetailNews/@item.Id" class="news-link">ardını oxu</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- News End -->

