@model Master
@{
    ViewData["Title"] = "Detail";
    ViewData["activeTab"] = "Master";
}

@section title{
    <h4 class="page-title text-uppercase font-medium font-14">Auto Master</h4>
}

<dl>
    <dt>Image</dt>
    <dd><img width="450" class="img-thumbnail" src="~/image/@(Model.Image)" alt="Alternate Text" /></dd>
    <dt>Master Name</dt>
    <dd>@Model.MasterName</dd>
    <dt>Phone</dt>
    <dd>@Model.Phone</dd>
    <dt>Secondary Phone</dt>
    <dd>@Model.SecondaryPhone</dd>
    <dt>Email</dt>
    <dd>@Model.Email</dd>
    <dt>Description</dt>
    <dd>@Model.Description</dd>
    <dt>Address</dt>
    <dd>@Model.Address</dd>
    <dt>Facebook</dt>
    <dd>@Model.Facebook</dd>
    <dt>Instagram</dt>
    <dd>@Model.Instagram</dd>
    <dt>YouTube</dt>
    <dd>@Model.Youtube</dd>
</dl>

<a href="/Admin/Master/Index" class="btn btn-outline-danger btn-lg btn-block">Return</a>